.red-polygon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(.././images/red-polygon.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

body{
    overflow: hidden;
}

.text-image{
    width: 35%;
    padding-bottom: 5%;
    grid-area: image;
    font-size: 1.5rem;
    color: white;
}

.circle-blue{
    width: 40%;
}
.image-yellow{
    width: 40%;
}