.register-school{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

#form-register{
    width: 100%;
    gap: 5px;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 80%;
    gap: 20px;
}

form input{
    width: 235px;
    height: 30px;
    border: 0.5px solid rgb(73, 73, 73);
    border-radius: 5px;
}



.icon-escola{
    position: absolute;
    left: 5px;
    bottom: 8px;
}

.icon-card{
    position: absolute;
    left: 212px;
    bottom: 7px;
}

.icon-telefone{
    position: absolute;
    left: 416px;
    bottom: 7px;
}

.icon-email{
    position: absolute;
    left: 617px;
    bottom: 7px;
}

.icon-voluntario{
    position: absolute;
    left: 821px;
    bottom: 8px;
}

.texts-input-data, .texts-input-adress{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}



.texts-input-adress{
    align-self: start;
}



.button-area{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 80%;
}

.btn-register-school{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #3B55A2;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.btn-register-school:hover{
    transition: .3s;
    box-shadow: #968f8f4d 2px 2px 2px 2px;
    
}