.records{
    width: 90%;
    user-select: none;
    text-align: left;
    overflow-y: auto;
}

.fields-table-header{
    background-color: #3B55A2;
    color: white;
    height: 30px;
    font-size: 16px;
    text-align: center;
}

.fields-table-header th{
    padding-left: 10px;
    padding-right: 10px;
}

.fields-table-main{
    width: 100%;
    color: black;
    font-size: 16px;
    overflow-x: auto;
}



.fields-table-main td{
    height: 50px;
    max-width: 200px;
    text-align: center;
    background-color: #ccc;
    overflow-x: auto;
}

.fields-table-main td:last-child{
    width: 200px;
}


.edit-button, .delete-button{
    border-style: none;
    color: black;
    width: fit-content;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.edit-button{
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: #28A745;
    
}



.delete-button{
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: #E82424;

}

.fields-table-main td::-webkit-scrollbar-track {
    background-color:#ccc;
    border-radius: 15px;
}
  
.fields-table-main td::-webkit-scrollbar {
    height: 4px;
    width: 2px;
    background: #ccc;  
}

.fields-table-main td::-webkit-scrollbar-thumb {
    background: #3B55A2;
    width: 2px;
    border-radius: 10px;
}