.register-videos{
    display: grid;
    grid-template-rows: 100px 50px 1fr;
    place-content: center;
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    gap: 20px;
}

form input{
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border: 0.5px solid rgb(73, 73, 73);
    border-radius: 5px;
}

.texts-input-data, .date-photo-input{
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 100%;
}

.date-photo-input{
    align-self: start;
}

.button-area{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.btn-register-video{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #3B55A2;
    color: white;
    cursor: pointer;
    transition: .2s;
}

.btn-register-video:hover{
    width: 250px;
    height: 35px;
    transition: .2s;
}